body {   
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;    
    line-height: 26px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    background-color: white;      
}

a {   
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    font-size: 0;
}

.list-default  {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-logo {
    margin: 0;
}

.button {
    font: inherit;
    font-weight: bold;
    color: white;
    background:transparent;
    border: none;
    text-transform: uppercase;    
    outline: 0;
    margin: 0;
    padding: 0;
}

.button-link {    
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.button-link:hover,
.button-link:focus {
    color: #81b3d2;
}

.button-link:active {  
    color: black;
}

.button-sort {
    background-repeat: no-repeat;
    color:rgba(0, 0, 0, 0.3);
}

.button-info {
    background-color:#81b3d2;
    color: white;
}

.button-info:hover,
.button-info:focus {
    background-color:#669ec0;
    color: white;
}

.button-info:active {
    background-color:#5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-action {
    background-color:#766357;
    color: white;
}

.button-action:hover,
.button-action:focus {
    background-color:#604e43;
    color: white;
}

.button-action:active {
    background-color:#503e33;
    color: rgba(255, 255, 255, 0.3);
}

.button-mark {
    background-color:#f2f2f2;
    color: black;
}

.nav-main {
    font-size: 14px;    
    line-height: 26px;
    font-weight: bold;
    color: black;
}

.nav-main a {
    color: black;
}

.nav-main a:visited {
    color: black;
}

.nav-main a:hover {
    color: #81b3d2;
}

.nav-main a:active {
    color: rgba(0, 0, 0, 0.3);
}

.banner-main {    
      
    width: 1200px;
    height: 557px;      
    background-image:url("../img/welcome.svg"),
                     url("../img/banner-mask.svg"),
                     url("../img/banner-background.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 132px,left 50% bottom 0, left 50% top -27px;
    background-size: 459px 353px, 1200px 57px, 1200px 800px;
}

.page-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.preferences-title {
    font-size: 14px;
    font-weight: 400;
}

.preference-item-header,
.info-item-header {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.visiting-header h2 {
    font-size: 30px;
    line-height: 36px;
}

.preferences-item-image {
    width:800px;
    height: 256px; 
    background-size: 800px 400px;
    background-position: 50% 50%;
}

.pref-image-town {
    background-image: url("../img/sedona-town.jpg");
}

.pref-image-bridge {
    background-image: url("../img/devl-bridge.jpg");
}

.info-item-icon {    
    width: 76px;
    height: 76px;
    background-repeat: no-repeat;    
}

.icon-home {
   background-image: url("../img/elements/icon-1.svg");
}

.icon-food {
    background-image: url("../img/elements/icon-2.svg");
 }

.icon-souvenirs {
    background-image: url("../img/elements/icon-3.svg");
}

.map {    
    width: 1200px;
    height: 473px;
    background-image: url("../img/map.jpg");
    background-color: #F2F1EF;
    background-size:  1200px 594px;   
    background-position: 50% 0px;
}

.footer-tag {
    font-size: 21px;
    font-weight: bold;
}

.footer-social li {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;        
    background-repeat: no-repeat;
    background-position: 50% 50%;    
}

.footer-social li:hover,
.footer-social li:focus {
    background-color:#669ec0;   
}

.footer-social li:active {
    background-color:#5496bd;      
}

.social-button-twitter  {    
    background-image: url("../img/elements/twitter.svg");         
}

.social-button-facebook {    
    background-image: url("../img/elements/facebook.svg");  
}

.social-button-youtube  {    
    background-image: url("../img/elements/youtube.svg");     
}

.hotel-search-title {    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color:white;
    background-color: #766357;
}

.hotel-search-title:hover,
.hotel-search-title:focus {
    background-color:#604e43;
    color: white;
}

.hotel-search-title:active {
    background-color:#503e33;
    color: rgba(255, 255, 255, 0.3);
}

.hotelsearch label {
    font-size:14px;
    font-weight: bold;
}

.hotelsearch input {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
    background-color: #f2f2f2;
}

.hotelsearch input:hover {   
    background-color: #ebebeb;
}

.hotelsearch input:focus {   
    background-color: white;
}

.hotels-filter-form {
    background-color:#8EB3D0;
    background-image: url("../img/hotels/filter-background.jpg");  
    background-repeat: no-repeat;  
    background-size:  1200px 800px;   
    background-position: 50% 50%;
}

.hotels-filter-form legend {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.hotels-filter-form label {
    font-size: 14px;
    color: white;
    margin-left: 30px;
}

.filter-infrastructure li  {
    background-image: url("../img/elements/checkbox-off.svg");  
    background-repeat: no-repeat;  
}

.filter-type li  {
    background-image: url("../img/elements/checkbox-on.svg");  
    background-repeat: no-repeat;  
}

.hotels-list-header h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: black;
}

.hotel-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: black;
}

.hotel-name:hover,
.hotel-name:focus{  
    color: #81b3d2;
}

.hotel-name:active{  
    color: rgba(0, 0, 0, 0.3);
}

.info-item-card {
    background-color: white;
    color: black;
}

.preference-item-card {
    background-color: #eeeeee;
    color: black;
}

.preference-item-card:nth-child(2) {   
   background-color: #81b3d2;
   color: white;
}

.preference-item-card:nth-child(1) {   
    background-color: #81b3d2;
    color: white;
}

/* ------------------------------------ стили для сеток ------------------------------------------------------- */

.wrapper {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-main {    
    position: absolute;
    top: 0;
    margin: 0;
    min-height: 56px;  
    margin-bottom: 0;
    z-index:1;
    background: white;
}

.header-logo {
    position: absolute;
    left: 530px;
}

.nav-links {      
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: center;  
    align-items: center; 
   
}

.nav-link {   
    width: 240px;     
    text-align: center;      
}

.nav-link:nth-child(2)
{
    margin-right: 240px;    
}

.page-title {
    width: 440px;
    min-height: 48px;
    text-align: center;
    margin: 60px auto;
    margin-bottom:0; 
}

.preferences-title {
    width: 490px;
    min-height: 48px;
    text-align: center;
    margin: 38px auto;
    margin-bottom:0; 
}

.preferences-list{
    display:flex;
    flex-wrap: wrap;
}


.preferences-list p {
     margin: 0;
}

.preference-item-card {  
  /* outline: 1px dashed orange;   */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;  
}

.preference-item-card {
    background-color: #eeeeee;
    color: black;
}

.preference-item-card:nth-child(2) {
   flex-direction: row-reverse; 
}

.preference {
    width: 400px;     
    min-height: 256px;      
    text-align: center;
    vertical-align: middle;
}

.preference {
    width: 400px;     
    min-height: 256px;      
    text-align: center;
    vertical-align: middle;
}

.preferences-item-image {
    width: 800px;
}

.info-item-list {   
    /* outline: 1px dashed blue; */
    min-height: 300px;
    display: flex;    
}

.info-item-card {  
   /* outline: 1px dashed blue; */
   flex-basis: 400px;   
}

.hotels-filter {
    display: flex;
    min-height: 256px;    
    position: relative;
}

.hotels-filter fieldset {
    margin: 0;
    border: 0;
    padding: 0; 
    flex-basis: 300px;
}

.hotels-filter > div {
    outline: 1px dotted blue;
    flex-basis: 600px;
    display: flex;
}

.filter-infrastructure::before{
    content: "Инфраструктура:";
    color: white;
    font-weight: bold
}

.filter-type::before{
    content: "Тип жилья:";
    color: white;
    font-weight: bold
}

.filter-price::before{
    content: "Стоимость в сутки (р):";
    color: white;
    font-weight: bold
}

.filter-type,
.filter-infrastructure {
    outline: 1px dotted red;
    min-height: 256px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: baseline;
    padding-left: 50px;
}

.hotels-list-header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.hotels-list-header > h3 {  
    padding-left: 72px;
    padding-right: 30px;
    flex-basis: 135px;    
}

.hotels-list-header li {
    font-size: 10.5px;
    line-height: 17.5px;
}

.hotel-search-menu {   
    display: flex;    
    flex-basis: 363px;
    align-items: baseline;        
}

.hotel-search-menu p {   
   flex-basis: 110px;
   margin-right: 6px;
}

.search-results-sort-type {  
   flex-basis: 253px;     
}

.search-results-sort-type li {
    display: inline-block;
}

.search-results-sort-type .button-link {    
    display: inline-block;    
    width: 80px;
}

.search-results-sort-order {        
    flex-basis: 528px;
    display: flex; 
    flex-direction: row-reverse;  
    justify-content: flex-start;
}

.search-results-sort-order .button-sort{
    margin-left: 5px;
}

.hotels-list {
    display: flex;     
    flex-wrap: wrap;  
}

.hotels-list-item {  
    display: flex;
    flex-basis: 1200px;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.hotels-list-item:last-child {     
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotels-list-item img {    
    padding-left: 72px;
    padding-right: 30px;
    flex-basis: 135px;
}

.hotel-card {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-rating-card {
    flex-basis: 600px;
}

.hotel-card h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.hotels-list-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.hotel-data,
.hotel-actions {    
    display: flex;
    flex-wrap: wrap;   
    justify-content: flex-start;    
}

.hotel-data p, 
.hotel-actions .button {
    flex-basis: 110px;
    margin: 0;
    margin-right: 6px;
}


.hotel-card {
    flex-basis: 360px;
}

.hotel-rating {
    width: 110px;
    min-height: 27px;
    margin-bottom: 0;
    text-align: center;    
}

.hotel-rating-card {
  
    flex-basis: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;  
}




.footer-main {
    display: flex;
    min-height: 120px;
}

.footer-main p {
    margin: 0;
}

.footer-main > * {
    flex-basis: 400px;  
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-social {
    /* outline: 1px dotted orange; */
    display: flex;
    justify-content: center;
}

.footer-copyright {
    /* outline: 1px dotted orange; */
    position: relative;
}

.list-social-buttons {
    display: flex;
}

.list-social-buttons li {
    margin: 0 5px 0 0;
}

.footer-logo img {
    position: absolute;
    left: 184px;
    top: 40px;
}

.footer-logo label {
    position: absolute;
    left: 100px;
    top: 46px;
}